header(class="text-xl font-bold text-center text-gray-700") Scheduled Tasks
main(class="w-full flex-1 flex flex-col gap-3")
  if !status||!data.length
    h1(class="flex-1 flex items-center justify-center") Nothing here yet!
  else
    include components/table.pug
    include components/pagination.pug